{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <script src="/scripts/contacts.js"></script>
<!-- 메뉴 -->

  <div class="menu">
    <ul>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li>
          <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

<!-- 메뉴 끝 -->

<!-- 검색창 -->

	<ul>
	  <!-- Search form -->
  <form method="get" action="/search" data-search-form>
    <input type="search" name="q" id="q" placeholder="검색어 입력" data-search-input />
    <input type="submit" value="검색하기" />
  </form>

  <!-- Search results placeholder -->
  <p data-search-found>
    <span data-search-found-count></span> result(s) found for &ldquo;<span data-search-found-term></span>&rdquo;.
  </p>
  <div data-search-results></div>

  <!-- Search result template -->
  <script type="text/x-template" id="search-result">
    <div>
      <h1><a href="##Url##">##Title##</a></h1>
      <!--<h2><a href="##Url##">##Date##</a></h2> -->
      <a href="##Url##">Read &ldquo;##Title##&rdquo;</a>
    </div>
  </script>

  <!-- jQuery - required but can be moved to the <head> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!-- Search script - Must appear after template -->
  <script src="/scripts/search.js"></script>
  </ul>
  </div>

<!-- 검색창 끝 -->

</header>